/* src/RideCard.css */
.ride_card {
    display: flex;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
  }
  
  .ride_card:hover {
    transform: scale(1.02);
  }
  
  .ride_details {
    flex: 1;
  }
  
  .ride_details p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .ride_details strong {
    color:  #00B9F1;
  }
  
  /* Add more styling as needed */
  
  .closeButton {
    background-color: #f44336; /* Red color for the close button, you can change it */
    color: #fff; /* White text color */
    border: none;
    padding: 2px 2px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .closeButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }