.app{
    text-align: center;
    padding: 20px;
  }
  
.app  h1 {
    color:  #00B9F1;
  }
  
.app  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
.app  label {
    display: block;
    margin-bottom: 10px;
  }
  
.app  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
.app  button {
    background-color:  #00B9F1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
.app  button:hover {
    background-color:  #00B9F1;
  }